body {
  margin: 80px 0 0 0;
  font-size: 16px;
  text-align:center;
  font-family: 'Raleway', sans-serif;

}
/*modal about*/
body.aboutbox-on{
   overflow: hidden;/*to prefent the text from below form moving when the modal is on */
}

body.aboutbox-on .modal_wrapper{
    display:block;
}
.modal_wrapper{
    top:0;
    left:0;
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.75);
    display: none;
    z-index: 1;
}

.aboutbox{
    position:relative;
    top:10%;
    margin:30px auto;
    width:600px;
    height: 500px;
    padding:15px;
    background-color: #DB7093;
    z-index: 2;
}  
.close{
    float:right;
}

.aboutbox p{
    margin:130px 30px 30px 100px;
    text-align: right;
}
.signature{
  color:white;
}
h2{
    position: relative;
    width:300px;
    text-align: right;
    padding: 20px;
    color:white;
    margin-top:0px;
    letter-spacing: 3px;
}
/*end modal about*/
/*top menu*/
header{
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:60px;
    text-align: center;
}

section{
    position: relative;
    width:600px;
    height:60px;
    display: inline-block;
  
}

nav{
    position:absolute;
    top:20px;
    right:0px;
}
nav ul {
    list-style: none;
    cursor: pointer;
   
}
li a.activate-aboutbox{
	color:#DB7093 !important;
  text-decoration: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
   } 
/*end of top menu*/

h1{
    font-family:'Shadows Into Light', cursive;

}

/*page 1- landing page*/
.flower {
  background-size:cover;
  width:100%;
  height: 730px;
  position: absolute;
  z-index: -1;
  top:0;
  background-image: url("../img/inspiration3.jpg");
}
.flower .title {
  width: 800px;
  margin: 270px auto;
  margin-bottom: 40px;
  position: relative;
  text-align:center;
  color:black;
  font-size: 80px;
  position:relative;
}
.subheading{
	font-family:'Shadows Into Light', cursive;
	font-size: 50px;
	width:550px;
	position: relative;
	left:10%;
	display: inline-block;
}
/*END page 1- landing page*/
/*page 2- INSPIRATION #1*/
.page2{
  min-width: 800px;
  margin-top:877px;
  position:relative;
}
h4{
    font-size: 50px;
    font-family:'Shadows Into Light', cursive;
    text-align: center;
    /*text-transform: uppercase;*/
    margin-left:50%
    margin-top: 10px;
    margin-bottom: 4px;
}
.do-something{
  padding: 40px 0px;
}
/* end page 2- INSPIRATION #1*/

/*  page 3- INSPIRATION #2*/
.page3{
    margin-top:80px;
   min-width: 800px;
   position: relative;
}
.questions{
    width:600px;
    text-align: left;
    display: inline-block;
    margin-top: 40px;
}

h5{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color:#DB7093;
}
p a{
   color:#DB7093;

}
/* end page 3- INSPIRATION #2*/

/*  page 4- INSPIRATION #3*/
.page4{
    margin-top:80px;
   min-width: 800px;
   position: relative;
}
.noha{
    width:600px;
    text-align: left;
    display: inline-block;
    margin-top: 40px;
}
#nohas-list{
  list-style: none;
}
/* end page 4- INSPIRATION #3*/


/*footer*/
.footer {
/*  display:block;
  margin:0 auto;*/
  display:inline-block;
  position: relative;
  text-align: center;
  font-size: 14px; 
  margin-top: 10px; 
  background-color: black;
  color:white;
  padding: 50px 12.5%;
  text-align: center;
}
#claim{
    font-size: 10px;
}